@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a las Olimpiadas</h1>
    <a asp-action="Login" asp-controller="Login" class="btn btn-danger">Start <i class="bi bi-skip-start-circle"></i></a>
</div>
